@charset "iso-8859-7";
/* CSS Document */

#quickbar_data {
	text-align: center;
}

#quickbar_data div {
	width: 41px;
	height: 41px;
	background-image: url(../../../images/UI/qbar-emptyslot.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	float: left;
}
#quickbar_data div img {
	margin: 2px;
	width: 37px;
	height: 37px;
	cursor: pointer;
}
