/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image:url(images/bg_content.jpg);
	background-repeat: repeat-y;
}

.nav {
	background-image:url(images/bg_nav.jpg);
	background-color: #CCCCCC;
}

input {
	background-color: #FFFFFF;
	border: solid 1px #999999;
	padding: 3px;
}

input.button {
	background-color: #FFFFFF;
	border: double 3px #666666;
	padding: 3px;
	color: #666666;
}

input.button:hover {
	background-color: #D5EAFF;
	border: double 3px #0066FF;
	padding: 3px;
	color: #0066FF;
}

select {
	background-color: #FFFFFF;
	border: solid 1px #999999;
	padding: 3px;
	font-size: 12px;
}

textarea {
	background-color: #FFFFFF;
	border: solid 1px #999999;
	padding: 3px;
}

button {
	background-image: url(images/btn_off.jpg);
	background-position:left;
	background-repeat: repeat-x;
	padding: 3px;
	border: solid 1px #333333;
	color: #999999;
	font-size: 12px;
	margin: 1px;
	text-align: left;
}

button:hover {
	background-image: url(images/btn_back.jpg);
	border: solid 1px #999999;
	color: #FFFFFF;
}

button:active {
	background-image: url(images/btn_off.jpg);
	border: solid 1px #333333;
	color: #999999;
}

.errborder {
	border: solid 1px #990000;
	background-color:#FFCCCC;
	color: #333333;
}

table.discreet th {
	text-align: left;
}

div.msg_ok {
	border: solid 1px #009900;
	background-color: #C6FFC6;
	background-image: url(icons/button_ok.png);
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left: 22px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

div.msg_error {
	border: solid 1px #CC0000;
	background-color: #FFDFDF;
	background-image: url(icons/button_cancel.png);
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left: 22px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

div.msg_warn {
	border: solid 1px #FFCC00;
	background-color: #FFEFDF;
	background-image: url(icons/critical.gif);
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left: 22px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}
table.login {
	border: solid 2px #CCCCCC;
	background-color: #FFFFCC;
}