/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image:url(images/bg_content.jpg);
	background-repeat: repeat-y;
}

.nav {
	background-image:url(images/bg_nav.jpg);
	background-color: #000000;
}

input {
	background-color: #FFFFFF;
	border: solid 1px #999999;
	padding: 3px;
}

select {
	background-color: #FFFFFF;
	border: solid 1px #999999;
	padding: 3px;
	font-size: 12px;
}

button {
	background-image: url(images/btn_off.jpg);
	background-position:left;
	background-repeat: repeat-x;
	padding: 3px;
	border: solid 1px #333333;
	color: #999999;
	font-size: 12px;
	margin: 1px;
	text-align: left;
}

button:hover {
	background-image: url(images/btn_back.jpg);
	border: solid 1px #999999;
	color: #FFFFFF;
}

button:active {
	background-image: url(images/btn_off.jpg);
	border: solid 1px #333333;
	color: #999999;
}

