body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
table.main {
	border: 1px solid #666699;
}
.main .head {
	color: #FFFFFF;
	background-color: #666699;
	padding: 8px;
}
.main .content {
	padding: 5px;
}
.separator {
	font-size: 12px;
	color: #666666;
	text-indent: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	font-weight: bold;
}
.checks th {
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.checks td {
	font-weight: normal;
}

.checks {
	border: solid 1px #999999;
}

.main .head b {
	font-size: 24px;
	font-weight: bold;
}
.footer {
	font-size: 10px;
	color: #999999;
}
.steps div {
	border: 1px solid #666666;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	color: #666666;
	padding: 5px;
	display: block;	
	height: 20px;
	margin: 3px;
	text-align: left;
}
.steps div.active {
	border: 1px solid #666666;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666666;
}

.ok {
	color: #339900;
	font-weight: bold;
}

.error {
	color: #FF0000;
	font-weight: bold;
}

.warn {
	color: #FF6600;
	font-weight: bold;
}

.button {
	color: #999999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #AEAEAE;
	border-bottom-color: #AEAEAE;
	border-left-color: #CCCCCC;
	padding: 5px;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

.button:hover {
	color: #333333;
	background-color: #F0F0F0;
}

.button:active {
	color: #333333;
	background-color: #D6D6D6;
	border-right-color: #999999;
	border-top-color: #666666;
	border-left-color: #666666;
	border-bottom-color: #999999;
}

input.text {
	border: solid 1px #666666;
	padding: 2px;
	margin: 2px;
}

input.text:focus {
	border: solid 3px #666699;
	padding: 2px;
	margin: 0px;
}

div.error {
	border: solid 1px #990000;
	background-color: #FFEAEA;
	color: #990000;
	background-image: url(images/error.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 5px;
	text-indent: 20px;
	font-weight: normal;	
}

div.warn {
	border: solid 1px #FF9900;
	background-color: #FFEAD5;
	color: #FF6600;
	background-image: url(images/warn.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 5px;
	text-indent: 20px;
	font-weight: normal;	
}

pre {
	border: dashed 1px #999999;
	background-color: #EAEAEA;
	color: #333333;
	padding: 2px;
}