<?xml version="1.0" encoding="utf-8" ?>
<module>

	<require>
		
	</require>

	<provide>
	
		<unit name="GLUICore">
			<server class="GLUICore" file="core.php" />
			<client class="GLUICore" file="core.js" />
		</unit>

		<unit name="GLUIPanel">
			<server class="GLUIPanel" file="core.php" />
			<client class="GLUIPanel" file="core.js" />
		</unit>
		
	</provide>	
	
</module>